<h1>Enter Quiz Term</h1>
  <form action="/create_quiz_term" method="POST">
    <input type="text" name="text" required>
    <button type="submit" name="action" value="submit">Submit</button>
  </form>